<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.2" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.11.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.11.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="3.11.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="3.11.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="3.11.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Composition" version="16.9.20" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Composition.Analyzers" version="16.9.20" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Composition.NetFxAttributes" version="16.9.20" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="16.10.56" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.10.56" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="16.9.32" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net461" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net461" />
  <package id="System.Composition" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net461" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net461" />
  <package id="System.Globalization.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Abstractions" version="13.2.33" targetFramework="net461" />
  <package id="System.IO.Pipelines" version="5.0.1" targetFramework="net461" />
  <package id="System.Linq.Async" version="4.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net461" />
  <package id="System.Reflection.TypeExtensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Dataflow" version="5.0.0" targetFramework="net461" />
</packages>